<div style="text-align:center">
  <h1 routerLink="/">Selected Photo</h1>
  <div>
    <h2>{{entry.title}}</h2>
    <img src="{{entry.photo}}" alt="{{entry.description}}">
    <h4>{{entry.description}}</h4>
    <h2>Comments</h2>
    <div *ngFor="let comment of entry.comments">
      <h4 *ngIf="comment.name != undefined">{{comment.name}}</h4>
      <p *ngIf="comment.name != undefined">{{comment.comment}}</p>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" ngModel name="name" required>
    </div>
    <div class="form-group">
      <label for="text">Comment</label>
      <input type="text" id="text" class="form-control" ngModel name="text" required>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
  </form>

</div>
